<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>es.isst.glucomed.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.isst.glucomed.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>es.isst.glucomed.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InsertData</servlet-name>
		<servlet-class>es.isst.glucomed.InsertDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertData</servlet-name>
		<url-pattern>/insertData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>es.isst.glucomed.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/salir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewData</servlet-name>
		<servlet-class>es.isst.glucomed.ViewDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewData</servlet-name>
		<url-pattern>/viewData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ListMedico</servlet-name>
		<servlet-class>es.isst.glucomed.ListMedicoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListMedico</servlet-name>
		<url-pattern>/listMedico</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>es.isst.glucomed.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Guardar</servlet-name>
		<servlet-class>es.isst.glucomed.DescargarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Guardar</servlet-name>
		<url-pattern>/guardar</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Subir</servlet-name>
		<servlet-class>es.isst.glucomed.SubirServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Subir</servlet-name>
		<url-pattern>/subir</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>pruebaUser</servlet-name>
		<servlet-class>es.isst.glucomed.pruebaListUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pruebaUser</servlet-name>
		<url-pattern>/pruebaUser</url-pattern>
	</servlet-mapping>


	
	
	
	
	<!-- PARA UPLOAD FILES -->
	
	
	
	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>es.isst.glucomed.files.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServeFileServlet</servlet-name>
		<servlet-class>es.isst.glucomed.files.ServeFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServeFileServlet</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SuccessUploadFileServlet</servlet-name>
		<servlet-class>es.isst.glucomed.files.SuccessUploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SuccessUploadFileServlet</servlet-name>
		<url-pattern>/successupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GraficaServlet</servlet-name>
		<servlet-class>es.isst.glucomed.GraficaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GraficaServlet</servlet-name>
		<url-pattern>/grafica</url-pattern>
	</servlet-mapping>
	


	<welcome-file-list>
		<welcome-file>login</welcome-file>
	</welcome-file-list>
</web-app>
